@mixin list-unstyled() {
    padding: 0;
    margin: 0;
    list-style: none;
}


@mixin transform($property) {
    -webkit-transform: $property;
    -ms-transform: $property;
    transform: $property;
  }